*.bak
*.bgn
*.bit
*.bld
*.bmm
*.cmd_log
*.dcp
*.drc
*.gise
*.hdf
*.hwdef
*.hwh
*.jou
*.ll
*.log
*.lso
*.mmi
*.msd
*.msk
*.ncd
*.ncf
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pb
*.pcf
*.ptwx
*.ref
*.rbb
*.rbd
*.stx
*.sv
*.svh
*.syr
*.tmp
*.twr
*.twx
*.unroutes
*.ut
*.v
*.vh
*.vho
*.xpi
*.xsa
*.xst
*.xmsgs
*.zip
*_bitgen.xwbt
*_envsettings.html
*_map.map
*_map.mrp
*_map.ngm
*_map.xrpt
*_ngdbuild.xrpt
*_pad.csv
*_pad.txt
*_par.xrpt
*_sim_netlist.*
*_stub.*
*_summary.html
*_summary.xml
*_usage.xml
*_xst.xrpt

*.o
*.a
*.elf

vivado_*.str

*webtalk*

**/doc/*
**/docs/*
**/example/*
**/example_design/*
**/hw_handoff/*
**/netlist/*
**/sim/*
**/synth/*
**/ui/*

.Xil/*
mb_vga_system.cache/*
mb_vga_system.hw/*
mb_vga_system.ip_user_files/*
mb_vga_system.runs/*
mb_vga_system.sim/*
mb_vga_system.tmp/*
